## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
clean_application_df = application_df.drop(columns=["EIN", "NAME"])

In [3]:
clean_application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [4]:
# Determine the number of unique values in each column.
clean_application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
clean_application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_type_val_count = clean_application_df['APPLICATION_TYPE'].value_counts()
app_type_df = pd.DataFrame(app_type_val_count)

application_types_to_replace = app_type_df.index[app_type_df['APPLICATION_TYPE'] < 500].tolist()

# Replace in dataframe
for app in application_types_to_replace:
    clean_application_df['APPLICATION_TYPE'] = clean_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
clean_application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
clean_application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = clean_application_df['CLASSIFICATION'].value_counts()
filtered_classification_counts = classification_counts[classification_counts > 1]
filtered_classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts_df = pd.DataFrame(classification_counts)

classifications_to_replace = classification_counts_df.index[classification_counts_df['CLASSIFICATION'] < 1000].tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    clean_application_df['CLASSIFICATION'] = clean_application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
clean_application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
clean_application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummie_df = pd.get_dummies(clean_application_df)
app_dummie_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
app_dummie_df['IS_SUCCESSFUL'].value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [13]:
# Split our preprocessed data into our features and target arrays
X = app_dummie_df.drop(['IS_SUCCESSFUL'], axis=1).copy()
y = app_dummie_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
X_train.shape

(25724, 43)

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = X_train_scaled.shape[1]
print(input_dim)

hidden_layer_1_nodes = 160
hidden_layer_2_nodes = 30
hidden_layer_3_nodes = 10


nn_model = tf.keras.models.Sequential()

nn_model.add(tf.keras.layers.Dense(units=hidden_layer_1_nodes, activation="relu", input_dim=input_dim))

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_layer_2_nodes, activation="sigmoid"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_layer_3_nodes, activation="sigmoid"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

43
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 160)               7040

 dense_1 (Dense)             (None, 30)                4830

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 12,191
Trainable params: 12,191
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [18]:
# Train the model
nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 10s 7ms/step - loss: 0.5939 - accuracy: 0.7090
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5664 - accuracy: 0.7289
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5571 - accuracy: 0.7297
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7310
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5516 - accuracy: 0.7320
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7319
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7337
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7325
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7335
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7345
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7330
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5456 - accuracy: 0.7346
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7344
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7353
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7357
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7349
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7359
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7347
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7352
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7348
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7359
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7362
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7370
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7365
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5406 - accuracy: 0.7369
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7366
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7363
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7376
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7365
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7383
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7376
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7379
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7373
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7386
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7381
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7381
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7381
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7379
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7381
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7385
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7384
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7379
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7384
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5370 - accuracy: 0.7395
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7393
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7394
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7387
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7391
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7386
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7398
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7391
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7398
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7395
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7400
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7393
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5357 - accuracy: 0.7396
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7392
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7402
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7393
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7398
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7388
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5348 - accuracy: 0.7396
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7392
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7395
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7396
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7398
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7404
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7397
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7402
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7402
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7399
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7404
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5341 - accuracy: 0.7395
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7403
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7399
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7405
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7401
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7399
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5343 - accuracy: 0.7368
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7392
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7391
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7404
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7392
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7397
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7395
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7399
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7396
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7397
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7397
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5334 - accuracy: 0.7404
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7412
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7404
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7405

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5561 - accuracy: 0.7297 - 537ms/epoch - 2ms/step
Loss: 0.5560509562492371, Accuracy: 0.72967928647995

In [20]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization_4.h5')