## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
clean_application_df = application_df.drop(columns=["EIN", "NAME"])

In [3]:
clean_application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [4]:
# Determine the number of unique values in each column.
clean_application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
clean_application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_type_val_count = clean_application_df['APPLICATION_TYPE'].value_counts()
app_type_df = pd.DataFrame(app_type_val_count)

application_types_to_replace = app_type_df.index[app_type_df['APPLICATION_TYPE'] < 500].tolist()

# Replace in dataframe
for app in application_types_to_replace:
    clean_application_df['APPLICATION_TYPE'] = clean_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
clean_application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
clean_application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = clean_application_df['CLASSIFICATION'].value_counts()
filtered_classification_counts = classification_counts[classification_counts > 1]
filtered_classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts_df = pd.DataFrame(classification_counts)

classifications_to_replace = classification_counts_df.index[classification_counts_df['CLASSIFICATION'] < 100].tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    clean_application_df['CLASSIFICATION'] = clean_application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
clean_application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [10]:
clean_application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummie_df = pd.get_dummies(clean_application_df)
app_dummie_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
app_dummie_df['IS_SUCCESSFUL'].value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [13]:
# Split our preprocessed data into our features and target arrays
X = app_dummie_df.drop(['IS_SUCCESSFUL'], axis=1).copy()
y = app_dummie_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
X_train.shape

(25724, 49)

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = X_train_scaled.shape[1]
print(input_dim)

hidden_layer_1_nodes = 500
hidden_layer_2_nodes = 20
hidden_layer_3_nodes = 5


nn_model = tf.keras.models.Sequential()

nn_model.add(tf.keras.layers.Dense(units=hidden_layer_1_nodes, activation="relu", input_dim=input_dim))

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_layer_2_nodes, activation="relu"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_layer_3_nodes, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

49
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 500)               25000

 dense_1 (Dense)             (None, 20)                10020

 dense_2 (Dense)             (None, 5)                 105

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 35,131
Trainable params: 35,131
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [18]:
# Train the model
nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 11s 6ms/step - loss: 0.5662 - accuracy: 0.7203
Epoch 2/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5532 - accuracy: 0.7297
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5507 - accuracy: 0.7320
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7313
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7319
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7338
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7326
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7332
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5442 - accuracy: 0.7341
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7334
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7351
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7339
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7352
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5414 - accuracy: 0.7364
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7352
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7362
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7368
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7367
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7367
Epoch 21/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5400 - accuracy: 0.7363
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7369
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7360
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7370
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7385
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7374
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7368
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7378
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7382
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7369
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7380
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5368 - accuracy: 0.7379
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7384
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7371
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7389
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7384
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7384
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7390
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7395
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7392
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7400
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7386
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7397
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7395
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7395
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7395
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7394
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7397
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7392
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7399
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7398
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7398
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7397
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7391
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7402
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7401
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7394
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7402
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5332 - accuracy: 0.7399
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7399
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7400
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7401
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7407
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5332 - accuracy: 0.7407
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7402
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7403
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7400
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7410
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7406
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5325 - accuracy: 0.7407
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7403
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7401
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7402
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7399
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7407
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5315 - accuracy: 0.7413
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7397
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7408
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7406
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7406
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7416
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5320 - accuracy: 0.7407
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7406
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7411
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7399
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7407
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5314 - accuracy: 0.7407
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7408
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7400
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7413
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7415
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7406
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5311 - accuracy: 0.7411
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7411

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5573 - accuracy: 0.7287 - 532ms/epoch - 2ms/step
Loss: 0.5573287010192871, Accuracy: 0.7287463545799255

In [20]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization_2.h5')